*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
body{
  background: #6f93b7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container{
   text-align: center;
   max-width: 350px;
   width: 100%;
   background: #197fe5;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 20px rgba(0,0,0,0.1);
   border: 1px solid #0d6ccb;
   color: #fff;
}
.info{
  display: flex;
  justify-content: space-between;
  margin: 20px 10px ;
  font-size: 15px;
}
.box{
  margin: auto;
}
.question{
  background: rgba(0,0,0,0.1);
  width: 50%;
  margin: 30px auto;
  padding: 20px 30px;
  font-size: 30px;
  font-weight: 500;
  border-radius: 8px;
}
input[type="number"]{
  padding: 9px 20px;
  width: 90%;
  font-size: 18px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  border-radius: 4px;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
.result{
  font-size: 18px;
  margin-bottom: 10px;
}
button{
  padding: 8px 30px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  background: transparent;
  outline: none;

}